body {
  font-family: sans-serif;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* &:before,
* &:after {
  box-sizing: border-box;
}

.counter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 24rem;
  margin: 0 auto;
}

.counter__btn {
  background-color: black;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.counter__btn:hover {
  background-color: #333;
}

.counter__btn:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.counter__btn--reset {
  grid-column: span 3;
}

.counter__count {
  margin: 0;
  place-self: center;
}
